.btn-flat {
  color: white;
  padding: 12px 84px;
  border-radius: 6px;
  background: transparent;
  transition: background 0.3s ease;
  border-color: white;
  border-width: 2px;
  background: rgba(0, 0, 0, 0.2);
}

.btn-flat:hover {
  background: transparent;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.btn-bookings {
  font-size: 1.5rem;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  background: #6AC9C6;
  transition: background 0.3s ease;
  margin-bottom: 35px;
    &:hover {
    background: #54a09e;
    color: white;
    transition: 0.3s;
  }
}
