.card-trip {
  height: 300px;
  width: 400px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  margin-left: 50px;
  border-radius: 3px;
}

.top-background {
  height: 230px;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -42px;
  width: 60px;
  height: 60px;
}

.card-image-title {
  position: absolute;
  top: 15px;
  left: 25px;
  text-decoration: none;
  color: white;
  font-weight: bold;
}
