.navbar-lewagon {
  position: fixed;
  justify-content: space-between;
  background-color: transparent;
  top: 0;
  z-index: 1;
  width: 100%;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand .fas {
  font-size: 50px;
  color: white;
  text-shadow: 0 0 3px #5F5F5F;
}

.navbar-lewagon-white {
  background-color: white;
  transition: 0.7s;
  opacity: 0.9m;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

